.home-container {
  position: relative;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;

}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;

}

.home-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 5px #00ffe7;
}
